<template>
  <main class="home row p-0 m-0">
    <section class="col-md-8 container">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    </section>
    <side-bar-vue class="col-md-3" />
  </main>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue';
import SideBarVue from '../components/SideBar.vue';

export default {
  name: 'Home',
  components: {
    HelloWorld,
    SideBarVue,
  },
};
</script>
