<!-- eslint-disable -->
<template>
  <main id="all-books-page" class="row m-0 p-0">
    <section class="col-md-8 container">
    <h1 class="text-left pt-4 pb-3">Tous les livres</h1>
    <!-- Dropdown -->
    <div class="col-12 p-0">
      <div class="dropdown mb-4 text-right">
        <a class="dropdown-btn btn-secondary dropdown-toggle p-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Trier par
        </a>

        <div class="dropdown-menu dropdown-order-by" aria-labelledby="dropdownMenuLink">
          <button class="dropdown-item" style="background-color:white;" @click="allBooksByTitleAsc()" href="#">Ordre croissant</button>
          <button class="dropdown-item" style="background-color:white;" @click="allBooksByTitleDesc()" href="#">Ordre décroissant</button>
        </div>
      </div>
    </div>
    <!-- End Dropdown -->
    <div class="row justify-content-center">
        <books-list-vue v-for="book in books" :key="book.id" :book="book" class="mt-3 col-md-4"/>
    </div>
    </section>
    <side-bar-vue class="col-md-3" />
  </main>
</template>

<script>
import BookService from '../../services/BookService';
import BooksListVue from '../../components/books/BooksList.vue';
import SideBarVue from '../../components/SideBar.vue';

export default {
  components: {
    BooksListVue,
    SideBarVue,
  },
  data() {
    return {
      books: [],
    };
  },
  mounted() {
    const service = new BookService();
    service
      .findAll()
      .then((data) => { this.books = data; })
      .catch(() => this.$router.push('/'));
  },
  methods: {
    allBooksByTitleAsc() {
      const service = new BookService();
      service
        .findAllByTitleAsc()
        .then((data) => { this.books = data; })
        .catch(() => this.$router.push('/'));
    },
    allBooksByTitleDesc() {
      const service = new BookService();
      service
        .findAllByTitleDesc()
        .then((data) => { this.books = data; })
        .catch(() => this.$router.push('/'));
    },
  },
};
</script>

<style lang="scss">
#all-books-page {
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .dropdown {
    .dropdown-btn {
      box-shadow: none;
      font-size: 13px;
      background-color: #385169;
    }
    .dropdown-order-by {
      border-radius: 0;
      font-size: 13px;
    }
    button {
      background-color: #ffffff;
    }
  }
}
</style>
