<!-- eslint-disable -->

<template>
  <section id="side-bar" class="col-md-2">
    <div class="sticky-side-bar">
      <section id="search" class="mb-4">
        <autocomplete
          :search="searchBooks"
          placeholder="Rechercher un livre"
          aria-label="Rechercher un livre"
          :get-result-value="getResultValueBooks"
          @submit="handleSubmitBooks"
        ></autocomplete>
      </section>
      <section id="categories" class="mb-4">
        <h5 class="text-left">Catégories</h5>
        <div class="text-left pl-4">
          <CategoriesListVue
            v-for="category in categories"
            :key="category.id"
            :category="category"
          />
        </div>
      </section>
      <section id="last-articles" class="mb-4">
        <h5 class="text-left">Articles récents</h5>
        <div class="text-left pl-4">
          <BookListFourVue v-for="book in lastBooks" :key="book.id" :book="book" />
        </div>
      </section>
      <section id="social-network">
        <h5 class="text-left mb-3">Réseaux sociaux</h5>
        <div class="text-left pl-4 row justify-content-around">
          <a href="https://instagram.com/melectrice/" target="_blank">
            <img src="../assets/insta.svg" alt="Instagram logo" class="logo" />
          </a>

          <a href="https://gitlab.com/mel.gvn" target="_blank">
            <img src="../assets/gitlab.svg" alt="Gitlab logo" class="logo" />
          </a>
          
          <a href="https://www.linkedin.com/in/melissa-galvan-5344a1177/" target="_blank">
            <img src="../assets/linkedin.svg" alt="Linkedin logo" class="logo" />
          </a>
        </div>
      </section>
    </div>
  </section>
</template>

<script>
/* eslint-disable */
import Autocomplete from "@trevoreyre/autocomplete-vue";
import "@trevoreyre/autocomplete-vue/dist/style.css";
import CategoriesService from "../services/CategoriesService";
import CategoriesListVue from "../components/categories/CategoriesList";
import BookListFourVue from "../components/books/BookListFour";
import BookService from "../services/BookService";

export default {
  components: {
    Autocomplete,
    CategoriesListVue,
    BookListFourVue
  },
  data() {
    return {
      categories: [],
      lastBooks: [],
      books: []
    };
  },
  mounted() {
    const categoriesService = new CategoriesService();
    categoriesService
      .findAll()
      .then(data => {
        this.categories = data;
      })
      .catch(() => this.$router.push("/"));

    const bookService = new BookService();
    bookService
      .findLastBooks()
      .then(data => {
        this.lastBooks = data;
      })
      .catch(() => this.$router.push("/"));

    // const searchBooksService = new BookService();
    bookService
      .findAll()
      .then(data => {
        this.books = data;
      })
      .catch(() => this.$router.push("/"));
  },
  methods: {
    searchBooks(input) {
      if (input.length < 1) {
        return [];
      }
      return this.books.filter(book => {
        return book.title.toLowerCase().startsWith(input.toLowerCase());
      });
    },
    getResultValueBooks(result) {
      return result.title;
    },
    handleSubmitBooks(result) {
      window.open(`http://localhost:8080/one-book/${result.id}`);
    }
  }
};
</script>

<style lang="scss">
#side-bar {
  border-left: 1px silver solid;

  .sticky-side-bar {
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
  }

  #autocom {
    max-width: 400px;
    margin: 0 auto;
  }

  .autocomplete-input {
    border-radius: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 10px;
    height: 20px;
  }

  h5 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #385169;
  }
  a:hover {
    color: #000000;
  }
  .logo {
    width: 30px;
  }
}
</style>
